#nav li{
display:inline;
    margin-left: 170px;    
}

     
            header {
                grid-area:header;
                  background-color:E5CCFF;
            }



 h3{
                color:black;
            }
            h1{
                color: black
            }
            
img {
                max-width: 100%;
                height:auto;
                }    